.item_black {
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .35s ease;
  -ms-transition:all .3s ease;
  color: #252222;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 4px;
  display: inline-block;
  margin-right: 76px;
  font-weight: bold;
}

.item_black:hover {
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .35s ease;
  -ms-transition:all .3s ease;
  color: #dcdcdc;
}

.item {
  composes: item_black;
  color: #fff;
}


.dash {
  width: 18px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align: 3px;
  margin-right: 12px;
}

.dash_black {
  background: #252222;
  composes: dash;
}

.item_black:hover .dash, .item_black:hover .dash_black, .item:hover .dash, .item:hover .dash_black {
  transform: rotate(-45deg);
  background: #c7c7c7;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .35s ease;
  -ms-transition: all .3s ease;
}