html,body{width:100%;min-width:320px}
body{background: #fff;font:normal 15px 'Roboto',sans-serif;color:#262421;line-height:1.4;overflow-x:hidden}

body::-webkit-scrollbar-track{}
body::-webkit-scrollbar{width:8px;background-color:#FFF}
body::-webkit-scrollbar-thumb{border-radius:0px;background-color:#D0D0D0}

::selection{background:#ccc}
::-moz-selection{background:#ccc}

a{text-decoration:none;outline:none;color: #262421}
a:hover{text-decoration:none;color:#d0d0d0}

/*.menu.menu_inner a:hover, .menu.menu_inner a.active {*/
/*  color: #dcdcdc;*/
/*}*/

/*.menu_inner span.menu_s {*/
/*  width: 18px;*/
/*  height: 1px;*/
/*  background: #fff;*/
/*  display: inline-block;*/
/*  vertical-align: 3px;*/
/*  margin-right: 12px;*/
/*}*/

/*.menu.menu_inner a:hover .menu_s, .menu.menu_inner a.active .menu_s {*/
/*  transform: rotate(-45deg);*/
/*  background: #c7c7c7;*/
/*  -webkit-transition: all .3s ease;*/
/*  -moz-transition: all .3s ease;*/
/*  -o-transition: all .35s ease;*/
/*  -ms-transition: all .3s ease;*/
/*}*/


/*.menu a:hover .menu_s {*/
/*  transform: rotate(-45deg);*/
/*  background: #c7c7c7;*/
/*  -webkit-transition: all .3s ease;*/
/*  -moz-transition: all .3s ease;*/
/*  -o-transition: all .35s ease;*/
/*  -ms-transition: all .3s ease;*/
/*}*/

/*.menu a .menu_s {*/
/*  transform: rotate(0deg);*/
/*  background: #fff;*/
/*  -webkit-transition: all .3s ease;*/
/*  -moz-transition: all .3s ease;*/
/*  -o-transition: all .35s ease;*/
/*  -ms-transition: all .3s ease;*/
/*}*/

/*.menu.menu_inner_i a .menu_s {*/
/*  background-color: #fff;*/
/*}*/

