html,body{width:100%;min-width:320px}
body{background: #fff;font:normal 15px 'Roboto',sans-serif;color:#262421;line-height:1.4;overflow-x:hidden}

body::-webkit-scrollbar-track{}
body::-webkit-scrollbar{width:8px;background-color:#FFF}
body::-webkit-scrollbar-thumb{border-radius:0px;background-color:#D0D0D0}

::selection{background:#ccc}
::-moz-selection{background:#ccc}

a{text-decoration:none;outline:none;color: #262421}
a:hover{text-decoration:none;color:#d0d0d0}
